body {
  font-family: 'Open Sans', monospace, sans-serif;


}

h1 {
  font-family: 'Arbutus Slab', serif;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}

h1:hover {
  color:#99bfaa;
}

a {
  font-family: 'Open Sans', monospace, sans-serif;
  text-decoration: none;
  color: #000;

}

a:hover {
  background-color:#99bfaa;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#mapid {
  height: 700px;
  margin: 5em
}

tspan {
  text-decoration: underline;
}

.singleCountry {
  display: block;
  margin: auto;
  padding: 15px;
  text-align: center;
}
