body {
  font-family: 'Open Sans', monospace, sans-serif;


}

h1 {
  font-family: 'Arbutus Slab', serif;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}

h1:hover {
  color:#99bfaa;
}

a {
  font-family: 'Open Sans', monospace, sans-serif;
  text-decoration: none;
  color: #000;

}

a h3:hover {
  background-color:#99bfaa;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#mapid {
  height: 700px;
  margin: 5em
}

tspan {
  text-decoration: underline;
}

.singleCountry {
  display: block;
  margin: auto;
  padding: 15px;
  text-align: center;
}

img {
  width: 90%;
}

.singleCountry {
  margin: auto;
  display: block;
}

.singleArticle a {
  font-weight: bold;
  font-size: 22px;
}

.singleArticle {
  display: block;
  margin: auto;
  border-bottom: 1px black solid;
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
}

.description {
  padding: 25px;
  text-align: center;
}
