body {
  font-family: 'Roboto Mono', monospace, sans-serif;


}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 42px;
}

a {
  font-family: 'Roboto Mono', monospace, sans-serif;
  text-decoration: none;

}

a:hover {
  background-color:#99bfaa;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#mapid {
  height: 700px;
  margin: 5em
}
